* {
  margin: 0;
  padding: 0;

  font-family: "Plus Jakarta Sans", sans-serif;
}

.plus-jakarta sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.pr-drop .dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  margin-top: 0px !important;
  width: 100% !important;
  left: 0;
  right: 0;
  height: 450px;

}

.pr-drop .dropdown-menu li {
  width: 350px;
  height: 30px;
  line-height: 25px;
  text-align: left;
  float: left;
  position: relative;

  position: relative;

}

.pr-drop .dropdown-menu ul {
  list-style: none;
}

.navbar-nav li:hover>ul.dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -3px;
}

.dropdown-submenu li {
  list-style: none;
}

/* rotate caret on hover */
.dropdown-menu>li>a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}


/* Company */
section {
  padding: 20px 0;
  height: 600px;

}

/*sticky icons */
.sticky-icon-links {
  position: fixed;
  top: 50%;
  width: 50px;
  height: auto;
  right: 15%;
  padding: 0 10px;
  border-radius: 7px;
  box-shadow: 0 7px 21px rgba(0, 0, 0, .15);
  background: #fff;
  color: #000;
  transform: translateX(200px);
  transition: transform .5s;
  transition-delay: 1s;
  z-index: 10;
}

.sticky-icon-links a i {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sticky-icon-links li {
  position: relative;
}

.sticky-icon-links a {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  color: #000;
  font-size: 12px;
  letter-spacing: -.025em;
  transition: transform .3s, box-shadow .3s;
}

.sticky-icon-links .fa-instagram,
.fa-facebook-f,
.fa-twitter,
.fa-linkedin {
  font-size: 18px;
  color: #000;
}

.sticky-icon-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sticky-icon-links .fa-twitter {
  color: #000;
}

.sticky-icon-links .fa-linkedin {
  color: #000;
}

/* stick icons */
/* header */
.main-head {
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}



@media(min-aspect-ratio:16/9) {
  video {
    width: 100%;
    height: auto;
  }
}

@media(max-aspect-ratio:16/9) {
  video {
    width: auto;
    height: 100%;
  }
}

/* nav */

/* nav */
.navbar {
  /* position: -webkit-sticky;
    position: sticky; */
  background-color: white;
  color: #777777;
}

.nav-link {
  background-color: white;
  color: #777777;
}

.nav-link:hover {
  background-color: #e9e7e7;
}

.nav-link.active {
  background-color: white;
  color: #777777;
}

.pr-logo img {
  height: 70px;
  padding: 6px 0;
  width: auto;
}

.hero {
  height: 600px;
  /* background: linear-gradient(0deg, rgba(8, 24, 82, 0.6), rgba(42, 42, 98, 0.6)), url(/assets/img/city.jpg); */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.btn-contact {
  background-color: #fff;
  outline: 2px solid #888;
  color: #777777;
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn-contact:hover {
  background: #d32126;
  color: #fff;
  border: 1px solid #d32126;
  outline: 2px solid #d32126;
}

.home {
  height: 100vh;
  position: relative;
}

.home video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}

.home .home-content {
  width: 680px;
  margin: 0 auto;
  position: relative;
  top: 200px;

  color: #fff;
  z-index: 3;
}

.home .home-content h1 {
  font-family: Playfair Display, serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 85px;
  line-height: 1.1;
}

.home .home-content p {
  text-align: center;
  font-size: 30px;
}

.middle-line {
  height: 200px;
  width: 2px;
  background: #fff;
  margin: 40px auto;
}

.home .home-content button {
  display: block;
  font-size: 20px;
  border: 1px solid #d32126;
  border-radius: 45px;
  background: #d32126;
  color: #fff;
  margin: 50px auto 0;
  padding: 15px 25px;
  cursor: pointer;
}

/* video */
/* header */
/*why us */
.why-us {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/img/bg-1.jpg);
}

.why-us h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #d32126;
  letter-spacing: .2em;
}

.why-us h2 {
  font-size: 46px;
  line-height: 55px;
  width: 70%;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.why-us p {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  width: 80%;
  color: #111111;
  margin-bottom: 20px;
  font-size: 16px;
}

.why-us h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #777777;
  padding-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
}

.why-img img {
  height: 90px;
  width: auto;
}

/*why us */

.view-more a {
  text-decoration: none;
}

.view-more button {
  display: block;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 45px;
  background: #fff;
  color: #000;
  margin: 50px auto 0;
  padding: 15px 25px;
  cursor: pointer;
}

.view-more button:hover {
  background: #d32126;
  color: #fff;
  border: 1px solid #d32126;
}

.company h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #111111;
  /* letter-spacing: .2em; */
}

.about-title h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #d32126;
  letter-spacing: .2em;
}

.mtb {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mtb .container {
  outline: 1px solid #333;
  padding: 30px 0;
  margin: 10px 0;
}

.mtb img {
  margin-bottom: 20px;
}

.mtb h3 {
  font-weight: 200;
  margin-bottom: 20px;
}

.mtb p {
  font-size: 16px;
  height: 30px;
  font-weight: 300;
}

.orange {
  color: #d32126;
}

.company p {
  line-height: 30px;
  font-size: 16px;
  width: 80%;
  color: #777777;
}

.company h2 {
  font-size: 46px;
  line-height: 55px;
  width: 90%;
  font-weight: 400;

  margin-bottom: 20px;
}

.company-pic img {
  height: 430px;
  width: auto;
}

.about-us {
  /* position: relative; */
  height: 50vh;
  background-color: #252422;
  background-image: url(/assets/img/about-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
}

.about-intro {
  position: relative;
  margin-top: 60px;

  height: 350px;
  color: #fff;
}

.about-intro h3 {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.our-products {
  margin: 60px 0;
  padding: 60px 0;
}

.our-products h4 {
  color: #d32126;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.our-products h5 {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 80px;
}

.p1 .btn-now {
  border: 1px solid #000;
  border-radius: 25px;
  padding: 12px 0;
}

.p1 .btn-now:hover {
  background-color: #000;
  color: #fff;
}

.p1 {
  padding: 40px 0;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.p1:hover {
  background-color: #d32126;
  color: #fff;
}

.p1:hover .btn-now {
  background-color: #000;
  color: #fff;
  border: none;
}

.p1:hover h4 {

  color: #fff;

}

.p1 .image img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.p2:hover {
  background-color: #fff;

}

.p2:hover h4 {
  color: #d32126;
}

.p2:hover .btn-now {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.p2 h4 {
  color: #fff;

}

.p2 {
  padding: 40px 0;
  background-color: #d32126;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.p2 .image img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.p2 .btn-now {
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  padding: 12px 0;
}

.p2 .btn-now:hover {

  background-color: #fff;
  color: #000;
}

/* footer */
.mrb-30 {
  margin-bottom: 15px;
}

.pr-footer {
  height: 600px;
  padding: 80px 0 0 0;
  color: #fff;
  background-color: #d32126;
  /* background: linear-gradient(45deg, #203f75, #117ab3); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.pr-footer a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #dfddde;

}

.pr-footer h4 {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
}


.lb-footer .container {
  padding: 40px 0;
  margin-top: 40px;
  border-top: 1px solid #979898;
}

.lb-footer p {
  color: #fff;
}

.pr-footer .social1 .fa-instagram,
.fa-twitter,
.fa-linkedin {
  font-size: 18px;
  padding: 0px 10px;
  cursor: pointer;
  color: #dfddde;
}

.pr-footer .social1 .fa-facebook-f {
  font-size: 18px;
  color: #dfddde;
  cursor: pointer;
}

.pr-footer .social1 .fa-instagram:hover,
.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-linkedin:hover {
  font-size: 22px;
  color: #dfddde;
}

/*Progress bar */
.progress-bg {
  height: 10px;
 background-color: #f4f4f4;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

}

.progress-bar1 {
  height: 10px;
  animation-name: growth;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.progress-bar2 {
  height: 10px;
  animation-name: growth2;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.progress-bar3 {
  height: 10px;
  animation-name: growth3;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.skill{
  margin: 40px 0 60px 0;
}
.skill-img{
  margin: 10px 20px;
}
.skill-img img{
  height: 540px;
  width: 500px;
  object-fit: cover;
}
.skill-bars{
  margin: 10px 20px;
}
.skill-bars h4{
  color: #d32126;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.skill-bars h5{
  font-size: 42px;
    font-weight: 400;
    margin-bottom: 30px;
}
.skill-bars p{
  line-height: 30px;
    color: #777777;
    font-size: 18px;
}
.progress-box{
  margin: 30px 0;
}
.meta{
  margin-bottom: 20px;
  color: #3f3d3d;
}
@keyframes growth {
  from {
    background-color: #d32126;
    width: 20%;
  }

  to {
    background-color: #d32126;
    width: 99%;
  }


}
@keyframes growth2 {
  from {
    background-color: #d32126;
    width: 20%;
  }

  to {
    background-color: #d32126;
    width: 60%;
  }


}
@keyframes growth3 {
  from {
    background-color: #d32126;
    width: 20%;
  }

  to {
    background-color:#d32126;
    width: 80%;
  }


}
/*Company Service   */
.company-services h4{
  font-size: 22px;
  color: #d32126;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
 
}
.company-services .cs .cs-img img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
object-fit: cover;
margin: 10px 0;
}
.company-services .cs{
  height: 500px;
  padding: 30px 0 0 0;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.company-services .cs:hover{
  border:  1px solid #d32126;
  box-shadow: none;
}
.company-services .cs h4{
  letter-spacing: normal;
  font-size: 22px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 30px;
}
.company-services  h5{
  letter-spacing: normal;
  font-size: 52px;
  color: #000;
  font-weight: 400;
margin-bottom: 40px;
  margin-top: 30px;
}
.company-services .cs p{
  line-height: 30px;
  color: #777777;
  font-size: 16px;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;

}
/* our Team */
.our-team{
  margin: 40px 0;
}
.our-team h4{
  font-size: 22px;
  color: #d32126;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.our-team h3{
  font-size: 20px;
  color: #000;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-bottom: 10px;

}
.our-team h5{
  letter-spacing: normal;
  font-size: 42px;
  color: #000;
  font-weight: 400;
margin-bottom: 20px;

  line-height: 60px;
  width: 90%;
}
.our-team p{
  line-height: 30px;
  color: #777777;
  font-size: 16px;
  width: 80%;
 
  margin-top: 10px;
}
.team-img img{
  height: 600px;
  width: 600px;
  object-fit: cover;
}
.our-team .team-detail{
  padding: 40px 20px;
}
/* .border-up{
    background-color: #fff;
    height: 120px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  } */
.pr-footer .pr-logo img {
  height: 60px;
  width: auto;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.pr-footer ul {
  list-style: none;
  text-align: left;
}

.text-left {
  text-align: left;
}

.text-left p {
  color: #dfddde;
}

.text-left a,
h4,
img {
  line-height: 30px;
  color: #dfddde;
}

.text-left a,
p {
  font-size: 16px;
}

.imp-links a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #dfddde;
}

.imp-links a:hover {
  color: rgb(199, 195, 195);
}

.ranp {

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/public/assets/img/car-accessories-with-copy-space.jpg);
  /* background: linear-gradient(0deg, rgba(8, 24, 82, 0.6), rgba(42, 42, 98, 0.6)), url(/assets/img/car-accessories-with-copy-space.jpg); */
}

.ranp-section {
  height: 500px;
  position: relative;
  margin: 0 auto;
  padding-left: 120px;
}

.ranp-btn {
  display: block;
  font-size: 20px;
  border: 1px solid #d32126;
  border-radius: 45px;
  background: #d32126;
  color: #fff;
  margin-top: 40px;
  /* margin: 50px auto 0; */
  padding: 12px 35px;
  cursor: pointer;
}

.ranp-btn a {
  text-decoration: none;
  color: inherit;
}

.ranp-section h4 {
  font-size: 20px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.ranp-section h1 {
  font-size: 60px;

}

.ranp-section .text-ranp {
  width: 50%;
}

/* .Products  .pr-img{
   
   width: 100%;
}
.Products .pr-img img{
   width: 100%;
   height: auto;
   aspect-ratio: 1/1;
   object-fit: cover;
} */
.Products .pr-img {
  /* background-color: rgb(244, 247, 247); */
}

.Products .card-title {
  font-size: 16px;
  height: 50px;
}

.Products .pr-img img {
  padding: 10px;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;


}

/* Product Details */
.my-product {
  position: relative;

  margin: 0 auto;
}

.my-product .pr-content {
  /* position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; */

  background: #fff;
  margin-top: 80px;

}

/* .my-product .container .imgBx {
 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 90%;
  /* background: #212121; 
  transition: .3s linear;
} */

/* .my-product .container .imgBx:before {
  content: 'Nike';
  position: absolute;
  top: 0px;
  left: 24px;
  color: #000;
  opacity: 0.2;
  font-size: 8em;
  font-weight: 800;
} */

/* .my-product.imgBx img {
  position: relative;
  width: 130px;
 height: auto;
  left: -40px;

} */
/* .my-product .imgBx img{
  width: 300px;
  height: auto;
} */
.my-product .container .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* height: 70vh;
  overflow-y: scroll; */
  box-sizing: border-box;
  /* padding: 40px; */
}

/* .container .details h2{
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  color: #444;
} */

.my-product .container .details h2 span {
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}

/* .my-product .container .details p {
  max-width: 85%;
 
  color: #333;
  font-size: 15px;
  margin-bottom: 36px;
} */

.my-product .container .details h3 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #a2a2a2;
  float: left;
}

/* .my-product .container .details h5{
  font-size: 16px;
} */
/* .my-product .container .details button {
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  float: right;
} */

.my-product .product-colors span {
  width: 26px;
  height: 26px;
  top: 7px;
  margin-right: 12px;
  left: 10px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.my-product .black {
  background: #000;
}

.my-product .red {
  background: #D5212E;
}

.my-product .orange {
  background: #d32126;
}

.my-product .product-colors .active:after {
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid #000;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left: -5px;
  top: -5px;
}

/* responsive */
@media (max-width: 1080px) {
  .my-product .container {
    height: auto;
  }

  .my-product .container .imgBx {
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
  }

  .my-product .container .imgBx img {
    left: initial;
    max-width: 100%;

  }

  .my-product.details {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .my-product .container .details p {
    margin-left: 0;
    max-width: 100%;
  }
}

/* .my-product footer {
  position: fixed;
  right: 16px;
  bottom: 12px;
}

.my-product footer a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
} */

/*  ######################################## Responsive  Screen ########################################### * /
  
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home .home-content h1 {
    font-size: 25px;
  }

  .home .home-content {
    width: auto;
  }

  section {
    width: auto;
    height: auto;
  }

  .company h4 {
    letter-spacing: normal;
  }

  .company-pic img {
    height: 200px;
    width: auto;
  }

  .about-title h4 {
    text-align: center;
  }

  .company h4 {
    text-align: center;
  }

  .company p {
    text-align: center;
    width: 100%;
  }

  .pr-footer {
    height: auto;
  }

  .my-product .container .details {

    width: 100%;

  }
  .team-img img{
    height:350px;
    width: 100%;
  }
  
  
.rd-about{
  flex-direction: column;
 }
 .company-pic img{
  width: 100%;
 }
 .company-services h5{
  font-size: 28px;
 }
 .company-services .cs{
   height: auto;
 }
 .skill{
  text-align: center;
 }
 .skill-bars h5{
  font-size: 28px;
  font-weight: 500;
 }
 .skill-img img{
  height: 200px;
  width: 100%;
 }
.fable-about h5{
  font-size: 32px;
}
.about-intro{
  height: 330px;
}

.our-team{
  text-align: center;
}
.our-team h5{
  text-align: center; font-size: 28px;
  line-height: normal;
  width: 100%;
}
.our-team p{
  width: 100%;
}
.skill-img {
  text-align: center;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home .home-content h1 {
    font-size: 28px;
  }

  .home .home-content {
    width: auto;
  }

  section {
    width: auto;
    height: auto;
  }

  .company h4 {
    letter-spacing: normal;
  }

  .company-pic img {
    height: 200px;
    width: auto;
  }

  .rd-about {
    display: block;
  }

  .about-title h4 {
    text-align: center;
  }

  .company h4 {
    text-align: center;
  }

  .company p {
    text-align: center;
    width: 100%;
  }

  .pr-footer {
    height: auto;
  }
.rd-about{
 flex-direction: column;
}


.company-services .cs{
  height: auto;
}



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home .home-content h1 {
    font-family: Playfair Display, serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 85px;
    line-height: 1.1;
  }

  .home .home-content p {
    text-align: center;
    font-size: 30px;
  }

  .home .home-content h1 {
    font-size: 28px;
  }

  .about-title h4 {
    text-align: left;
  }

  .company {
    padding: 90px 0;
  }

  .company h4 {
    text-align: left;
  }

  .company p {
    text-align: left;
    width: 85%;
  }

  .company-pic img {
    height: 400px;
    width: auto;
  }

  .my-pr {
    height: auto;

  }
 
  
  
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home .home-content h1 {
    font-family: Playfair Display, serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 85px;
    line-height: 1.1;
  }

  .home .home-content p {
    text-align: center;
    font-size: 30px;
  }

  .about-title h4 {
    text-align: center;
  }

  .company {
    padding: 90px 0;
  }

  .company h4 {
    text-align: left;
  }

  .company p {
    text-align: left;
    width: 85%;
  }

  .company-pic img {
    height: 400px;
    width: auto;
  }
  .company-services .cs {
    height: 530px;
   
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home .home-content h1 {
    font-family: Playfair Display, serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 85px;
    line-height: 1.1;
  }

  .home .home-content p {
    text-align: center;
    font-size: 30px;
  }

  .company {
    padding: 90px 0;
  }

  .about-title h4 {
    text-align: left;
  }

  .company h4 {
    text-align: left;
  }

  .company p {
    text-align: left;
    width: 85%;
  }

  .company-pic img {
    height: 400px;
    width: auto;
  }
 .rd-about{
  flex-direction: row;
 }

.company-services .cs {
  height: 500px;
 
}
}